<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932330996866-h2jb1g6s4s319gjsfjaphun045aricqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932330996866-h2jb1g6s4s319gjsfjaphun045aricqb</string>
	<key>API_KEY</key>
	<string>AIzaSyCApuuFxD81Y0Bf-8qLLhup7iEC23SHOw8</string>
	<key>GCM_SENDER_ID</key>
	<string>932330996866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>one-life-a31a5</string>
	<key>STORAGE_BUCKET</key>
	<string>one-life-a31a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932330996866:ios:53c1f6ea99ca234842a09b</string>
</dict>
</plist>